#top-section {
  background-image: url("../../img/home_page/home_cover.jpg");
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
#top-section h2.title {
  margin: 40px auto;
  font-family: "Merienda", cursive;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: -2px;
}
#top-section ul.section {
  margin: 0px 0px 37px 0px;
  padding: 0px;
  list-style: none;
}
#top-section ul.section li {
  display: inline-block;
  margin: auto 20px;
  position: relative;
  text-transform: uppercase;
}
#top-section ul.section li:before {
  content: " ";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  margin-right: 10px;
  position: absolute;
  top: 8px;
  left: -15px;
}
#top-section a.demo-bot {
  display: block;
  max-width: 250px;
  margin: auto;
  text-align: center;
  background-color: #a93673;
  font-family: "Merienda", cursive;
  padding: 12px 30px;
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
#top-section a.demo-bot:hover {
  max-width: 300px;
  background-color: #fd1c56;
}

.container-home {
  margin: auto 60px;
}

.home-demo.layout-1 {
  margin-bottom: 60px;
}
.home-demo.layout-1 .img-in img {
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}
.home-demo.layout-1 h2 a {
  display: block;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  position: relative;
}
.home-demo.layout-1 h2 a:before {
  transition: all 0.5s;
  content: " ";
  top: 10px;
  width: 0px;
  height: 15px;
  border-radius: 25px;
  background-color: #edcdc7;
  position: absolute;
  opacity: .6;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  z-index: -1;
}
.home-demo.layout-1:hover .img-in img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.home-demo.layout-1:hover h2 a:before {
  width: 120px;
}

.home-ba-1 {
  position: relative;
  background-color: #f1f1f1;
  z-index: 2;
}

.home-ba-2 {
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.home-ba-3 {
  position: relative;
  background-color: #fff;
}

.pages-slider {
  position: relative;
  z-index: 1;
}
.pages-slider img {
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}
.pages-slider img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.pages-slider .owl-nav {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  z-index: 2;
}
.pages-slider .owl-nav button {
  outline: none;
}
.pages-slider .owl-nav button.owl-prev {
  transition: all 0.5s;
  font-size: 25px;
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  background: white;
  background: -moz-linear-gradient(left, white 0%, #e5e5e5 100%);
  background: -webkit-linear-gradient(left, white 0%, #e5e5e5 100%);
  background: linear-gradient(to right, white 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=1);
  border: 2px solid #f4f2e9;
  color: #000;
  border-radius: 50%;
  margin-left: 55px;
}
.pages-slider .owl-nav button.owl-next {
  transition: all 0.5s;
  font-size: 25px;
  width: 40px;
  height: 40px;
  display: block;
  float: right;
  background: white;
  background: -moz-linear-gradient(left, white 0%, #e5e5e5 100%);
  background: -webkit-linear-gradient(left, white 0%, #e5e5e5 100%);
  background: linear-gradient(to right, white 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=1);
  border: 2px solid #f4f2e9;
  color: #000;
  border-radius: 50%;
  margin-right: 55px;
}
.pages-slider .owl-dots {
  text-align: center;
  margin-top: 10px;
}
.pages-slider .owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border: 2px solid #fd1c56;
  margin: 30px 8px 0px;
  outline: none;
  border-radius: 50%;
}
.pages-slider .owl-dots button.owl-dot.active {
  border: 2px solid #a93673;
}

.features-item {
  padding: 20px 30px 30px 30px;
  text-align: center;
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.01);
  -moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.01);
  border: 1px solid #eee;
  margin-bottom: 35px;
  border-radius: 8px;
  cursor: pointer;
}
.features-item h6.title {
  display: block;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  position: relative;
}
.features-item h6.title:before {
  transition: all 0.5s;
  content: " ";
  top: 10px;
  width: 0px;
  height: 15px;
  border-radius: 25px;
  background-color: #edcdc7;
  position: absolute;
  opacity: .6;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  z-index: -1;
}
.features-item:hover {
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
}
.features-item:hover h6.title:before {
  width: 100px;
}

a.go-top {
  z-index: 999;
}

#home-footer {
  background-image: url("../../img/home_page/home_cover.jpg");
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
#home-footer h2.title {
  margin: 40px auto;
  font-family: "Merienda", cursive;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: -2px;
}
#home-footer ul.section {
  margin: 0px 0px 37px 0px;
  padding: 0px;
  list-style: none;
}
#home-footer ul.section li {
  display: inline-block;
  margin: auto 20px;
  position: relative;
  text-transform: uppercase;
}
#home-footer ul.section li:before {
  content: " ";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  margin-right: 10px;
  position: absolute;
  top: 8px;
  left: -15px;
}
#home-footer a.demo-bot {
  display: block;
  max-width: 250px;
  margin: auto;
  text-align: center;
  background-color: #a93673;
  font-family: "Merienda", cursive;
  padding: 12px 30px;
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
#home-footer a.demo-bot:hover {
  max-width: 300px;
  background-color: #fd1c56;
}

/*# sourceMappingURL=color-2.css.map */
